<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align:center;">

        <h1>create your profile..</h1><br><br>

        <p>{{Error}}</p>
        <br><br>
  
        <form method="post" action="/createuser" enctype="multipart/form-data">
            <img src="" alt="" id="currentimg" style="width: 191px;height: 247px;"><br>
            <input type="file" name="Image" id="imgupload"  onchange="viewImage(event)">
            <br>
            <label for="">Upload Image</label><br><br>

            <label>Name</label>
            <input type="text" name="name" id="name" value="{{partial_data.name}}"><br><br>
            <label for="">Age</label>
            <input type="number" name="age" id="" value="{{partial_data.age}}"><br><br>
            <label for="">Fathers name</label>
            <input type="text" name="fathersname" id="" value="{{partial_data.fathersname}}"><br><br>
            <label for="">Mothers name</label>
            <input type="text" name="mothersname" id=""  value="{{partial_data.mothersname}}"><br><br>
            
            <label for="">Education</label>
            <select name="Education" ><br><br>
                <option value="">choose</option>
                <option value="btech" id="btech">Btech</option>
                <option value="mtech" id="mtech">Mtech</option>
                <option value="diploma" id="diploma">Diploma</option>
                <option value="predegree" id="predegree">Predegree</option>
            </select><br><br>

            <label for="">Family type</label>
            <select name="familytype" >
                <option value="">Please select</option>
                <option value="joint-family" id="joint-family">Joint Family</option>
                <option value="nuclear-family" id="nuclear-family">Nuclear Family</option>
            </select><br><br>

            <label for="">Family Status</label>
            <select name="familystatus" id="">
                <option value="">Please select</option>
                <option value="lower-income" id="lower-income">Lower income</option>
                <option value="middle-class" id="middle-class">Middle class</option>
                <option value="upper-middle" id="upper-middle">Upper middle class</option>
                <option value="rich">Rich</option>
            </select><br><br>
            <label for="">Living in</label>
            <input type="text" name="livingin" id="" value="{{partial_data.livingin}}"><br><br>
            <label for="">Height in cm</label>
            <input type="number" name="height" id="" value="{{partial_data.height}}"><br><br>
            <label>Body-type</label>
            <select name="bodytype" id="">
                <option value="">Please select</option>
                <option value="Athletic" id="Athletic">Athletic</option>
                <option value="Average" id="Average">Average</option>
                <option value="Heavy" id="Heavy">Heavy</option>
                <option value="Slim" id="Slim">Slim</option>
            </select><br><br>
            <label for="">complexion</label>
            <select name="complexion" id="" >
                <option value="">Please select</option>
                <option value="very-fair" id="very-fair">Very fair</option>
                <option value="fair" id="fair">Fair</option>
                <option value="Wheatish" id="Wheatish">Wheatish</option>
                <option value="medium" id="medium">medium</option>
                <option value="dark" id="dark">dark</option>
            </select><br><br>
            <label for="">About me</label><br>
            <textarea name="about" id="" cols="30" rows="5">{{partial_data.about}}</textarea><br><br><br>
            
              
            <button type="submit">Create profile</button>   
            <br><br>
            <input type="hidden" name="loginid" id="" value={{loginid}}>
        </form>
    </div>
  
</body>



<script>
    function viewImage(event){
       document.getElementById("currentimg").src=URL.createObjectURL(event.target.files[0])
    }

    
    document.getElementById("{{partial_data.Education}}").selected="selected"
    document.getElementById("{{partial_data.familytype}}").selected="selected"
    document.getElementById("{{partial_data.familystatus}}").selected="selected"
    document.getElementById("{{partial_data.bodytype}}").selected="selected"
    document.getElementById("{{partial_data.complexion}}").selected="selected"

  
</script>
</html>