<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
</head>
<body style="text-align:center;">
    <img src="/userimages/{{imagename}}.jpg"alt="" style="width: 191px;height: 247px;">
    <h2>Name:{{userdata.name}}</h2>
    <h2>Age:{{userdata.age}}</h2>
    <h2>fathers-name:{{userdata.fathersname}}</h2>
    <h2>mothers-name:{{userdata.mothersname}}</h2>
    <h2>Education:{{userdata.Education}}</h2>
    <h2>family-type:{{userdata.familytype}}</h2>
    <h2>family-status:{{userdata.familystatus}}</h2>
    <h2>livingin:{{userdata.livingin}}</h2>
    <h2>height:{{userdata.height}}</h2>
    <h2>body-type:{{userdata.bodytype}}</h2>
    <h2>complexion:{{userdata.complexion}}</h2>
    <h2>about me:{{userdata.about}}</h2>
    <a href="/edit/{{imagename}}">
        <button>Edit</button>
    </a>
</body>
</html>